
{% extends 'main.html'%}
{% load static%}
{% block content%}
<!-- display advert -->


  <!-- Modal -->
 
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   
    <div class="modal-dialog modalh">
      <div class="modal-content">
        <div class="modal-header">
        
          <h5 class="modal-title text-center" id="staticBackdropLabel">ArchiCAD Classes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{% static 'ArchiCAD.png'%}" class="img-fluid">
        </div>
        
      </div>
    </div>
    
  </div> -->
  <div class="holder container-xxl">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <p>
          <div class="display-5 orange">Arise Technical Training Institute</div>
          
        </p>
        <p class="text-white">We are modern, innovative and industry oriented institute, pursuing excellence in teaching,
           learning, research and consultancy, community outreach, career guidance as well as providing a
            vibrant student life.
          We aim at producing commpetitive leaders and professionals in technology to help business 
          technology-drivenin their service delivery.</p>
        <p class=" text-muted">Elevate your life by acquiring a new skill set with us today</p>
        <a href="#courses" class="btn btn-primary btn-lg mb-3">Explore Our Courses</a>
        <a href="https://forms.gle/4sd365oYzN4iZHEX6" class="btn btn-lg  btn-success  mb-3"> <i class="bi bi-pen-fill"></i> Apply Now</a>
      </div>
      <div class="col-md-5 text-center d-none d-md-block">
        <img src="{% static 'Arise.png'%}" class="img-fluid">
      </div>
    </div>

   
  </div>
 <!-- cards courses-->
 {% include 'about.html'%} 
<!-- this is the footer section -->
{% include 'includes/courses.html'%}

{% include 'includes/footer.html'%} 








{% endblock %}
