
{% extends 'main.html'%}
{% load static%}
{% block content%}
<div class="holder container-xxl">
  <div class="container-lg mt-5">
   
   <div class="row justify-content-center aligh-items-center " style="background-color: antiquewhite; opacity: 0.7;">
    <div class=" col-md-7 text-center d-no d-md-block">
      <img src="{% static 'Arise.png'%}" alt="" class="img-fluid" />
    </div>
    <div class=" col-md-5 text-center text-md-start textbox " >
      <h3 class="text-center mt-3 fw-bold" style="color: rgb(253, 174, 3);">ARISE TECHNICAL TRAINING INSTITUTE</h3>
      <p class="text-dark text-center">
      We are modern, innovative and industry oriented institute, 
      pursuing excellence in teaching, learning, research and consultancy, community outreach, 
      career guidance as well as providing a vibrant student life.
      We aim at producing commpetitive leaders and professionals in technology to help business
      technology-drivenin their service delivery.
      </p>
    </div>
     
  
 

</div>
 
   </div>


</div>









{% endblock %}
