
{% extends 'main.html'%}
{% load static%}
{% block content%}
<!-- display advert -->


  <!-- Modal -->
 
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   
    <div class="modal-dialog modalh">
      <div class="modal-content">
        <div class="modal-header">
        
          <h5 class="modal-title text-center" id="staticBackdropLabel">ArchiCAD Classes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{% static 'adverts/ArchiCAD.png'%}" class="img-fluid">
        </div>
        
      </div>
    </div>
    
  </div>
  <div class="holder container-xxl">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <p>
          <div class="display-5 orange">Arise Technical Training Institute</div>
          
        </p>
        <p class="text-white">We are modern, innovative and industry oriented institute, pursuing excellence in teaching,
           learning, research and consultancy, community outreach, career guidance as well as providing a
            vibrant student life.
          We aim at producing commpetitive leaders and professionals in technology to help business 
          technology-drivenin their service delivery.</p>
        <p class=" text-muted">Elevate your life by acquiring a new skill set with us today</p>
        <a href="#" class="btn btn-primary btn-lg mb-3">Explore Our Courses</a>
      </div>
      <div class="col-md-5 text-center d-none d-md-block">
        <img src="{% static 'Arise.png'%}" class="img-fluid">
      </div>
    </div>

   
  </div>
 <!-- cards courses-->
 <section id="courses">
  <div class="container  mt-2">
    <div class="text-center display-5 sticky-top bg-light">Our Course</div>
      <div class="row  justify-content-center align-items-center">
      {% for course in courses %}
        <div class="card g-2 ms-2 mb-2" style="width: 18rem;">
         
          <img src="{{ course.course_img}}" class="img-fluid" alt="..." style="height: 150px; width: auto;">
          <div class="card-body">
            <h5 class="card-title">{{ course.course_title }}</h5>
            <p class="card-text">Requirements: {{ course.course_requirements }}</p>
            <p class="card-text muted">Duration: {{ course.course_duration }}</p>
               <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#courseModal{{ course.pk }}">
                      learn More
                  </button>
          </div>
        </div>
       
      {% endfor %}
    </div>
</div>


<!-- Modal -->
{% for course in courses%}
<div class="modal fade" id="courseModal{{ course.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ course.course_title }}</h1>
        <br>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <img src="{{ course.course_img}}" class="img-fluid" alt="..." style="height: auto; width: auto;">
        <p class="card-text">{{ course.course_description }}</p>
        <p class="card-text "><b>Requirements: </b>{{ course.course_requirements }}</p>
        <p class="card-text "> <b>Cost:</b> {{ course.course_cost }}</p>
        <p class="card-text muted"> <b>Duration:</b> {{ course.course_duration }}</p>
      </div>
      
      <div class="modal-footer">
        <button class=" btn btn-success"> Apply Now</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
{% endfor%}


</section>
<!-- this is the footer section -->









{% endblock %}
