body{
    font-family: roboto;
}
.holder{
    background-image: url('image1.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    

    
}
.orange{
    color: orange;
}
section.img{
    height: 60px;
}