
{% load static%}
<section id="courses">
  <div class="container-fluid services py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Our Services</h5>
            <h1>Services Built Specifically For Your Business</h1>
        </div>

        <div class="row g-5 services-inner">
          <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
              <div class="services-item bg-light">
                  <div class="p-4 text-center services-content">
                      <div class="services-content-icon">
                          <i class="fa fa-code fa-7x mb-4 text-primary"></i>
                          <h4 class="mb-3">Web Design</h4>
                          <p class="mb-4">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt.</p>
                          <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
 
        {% for course in courses %}
        <div class="card g-2 ms-2 mb-2" style="width: 18rem;">
         
          <img src="{{course.course_img.url }}" class="img-fluid" alt="..." style="height: 150px; width: auto;">
          <div class="card-body">
            <h5 class="card-title">{{ course.course_title }}</h5>
            <p class="card-text">Requirements: {{ course.course_requirements }}</p>
            <p class="card-text muted">Duration: {{ course.course_duration }}</p>
           
               <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#courseModal{{ course.pk }}">
                      learn More
                  </button>
                  
          </div>
        </div>
       
      {% endfor %}
    </div>
</div>


<!-- Modal -->
{% for course in courses%}
<div class="modal fade" id="courseModal{{ course.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ course.course_title }}</h1>
        <br>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <img src="{{ course.course_img}}" class="img-fluid" alt="..." style="height: auto; width: auto;">
        <p class="card-text">{{ course.course_description }}</p>
        <p class="card-text "><b>Requirements: </b>{{ course.course_requirements }}</p>
        <p class="card-text "> <b>Cost:</b> {{ course.course_cost }}</p>
        <p class="card-text muted"> <b>Duration:</b> {{ course.course_duration }}</p>
      </div>
      
      <div class="modal-footer">
        <a href="https://forms.gle/4sd365oYzN4iZHEX6" class="nav-link"> <i class="bi bi-pen-fill"></i> Admission</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>
{% endfor%}


</section>